<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="error 404">
  <meta name="author" content="Froz">
  <meta name="keyword" content="resume">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>404 ERROR NOT FOUND</title>

  <!-- Bootstrap CSS -->
  <link href="{{url_for('static',filename='css/error/bootstrap.min.css')}}" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="{{url_for('static',filename='css/error/bootstrap-theme.css')}}" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="{{url_for('static',filename='css/error/elegant-icons-style.css')}}" rel="stylesheet" />
  <link href="{{url_for('static',filename='css/error/font-awesome.css')}}" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="{{url_for('static',filename='css/error/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/error/style-responsive.css')}}" rel="stylesheet" />

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
  <div class="page-404">
    <p class="text-404">404</p>

    <h2>Aww Snap!</h2>
    <p>Something went wrong or that page doesn’t exist yet. <br><a href="/">Return Home</a></p>
  </div>
 

</body>

</html>
